name: Build Scratch SB3

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: SB3 erzeugen
        run: python make_gamecube_intro.py

      - uses: actions/upload-artifact@v4
        with:
          name: GameCube_Intro
          path: GameCube_Intro.sb3
